.miku{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #39C5BB;
    vertical-align: middle;
}
.yzl{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #EE0000;
    vertical-align: middle;
}
.jan{
    font-size: 30px;
    display: inline-block;
    background: linear-gradient(to right, #39C5BB, #EE0000);
    -webkit-background-clip: text;
    color: transparent;
}
.ruby-ja{
    font-size: 0.8em;
}

.mask {
    background-color: #252525;
    color: #252525;
    transition: color 0.5s;
    display: inline-block;
}
.mask:hover {
    color: #ffffff;
}
    
/* code {
    white-space: pre-wrap !important;
    counter-reset: step;
    counter-increment: step 0;
    margin-left: 40px;
    min-width: calc(100% - 40px) !important;
  }
  
.line::before {
content: counter(step);
counter-increment: step;
width: 2ch;
margin-right: 36px;
margin-left: calc(-36px - 2ch);
display: inline-block;
text-align: right;
color: var(--vp-code-line-number-color);
} */