/* BEGIN 日语注音 */

ruby rt {
    font-size: 0.8em;
}

ruby {
    font-size: 25px;
}

tr {
    text-align: center;
}

/* END 日语注音 */

/* BEGIN 文字渐变遮罩 */

.mask {
    background-color: #252525;
    color: #252525;
    transition: color 0.5s;
    display: inline-block;
}
.mask:hover {
    color: #ffffff;
}

/* END 文字渐变遮罩 */
    
/* code {
    white-space: pre-wrap !important;
    counter-reset: step;
    counter-increment: step 0;
    margin-left: 40px;
    min-width: calc(100% - 40px) !important;
  }
  
.line::before {
content: counter(step);
counter-increment: step;
width: 2ch;
margin-right: 36px;
margin-left: calc(-36px - 2ch);
display: inline-block;
text-align: right;
color: var(--vp-code-line-number-color);
} */